.header {     
	width:100%;
	height:85px;
	background-color: transparent;
	border: 0px none transparent;
	padding: 0px;
	margin-top: 0px;
	overflow: hidden;
}
.menu { 
	width:20%;
	height:80%;
	background-color: transparent;
	border: 0px none transparent;
	padding: 0px;
	overflow: hidden;
}
.contenido {
	width:79%;
	height:80%;
	background-color: transparent;
	border: 0px none transparent;
	padding: 0px;
	overflow: hidden;
}
.footer {            
	width:100%;
	height:11%;
	align="bottom";
	color: #666666;
	font-family: AvantGarde CE;
	font-size: small;  
	background-color: transparent;
	border: 0px none transparent;
	padding: 0px;
	overflow: hidden;
}
.body {
    background-image: url('../Imagenes/Confianza/Cabezote-01.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0px 0px;
    background-size: 100% 290px;
}